//colors
$color_gulf_blue_approx: #070d59;
$white_27: rgba(255, 255, 255, 0.27);
$color_saffron_approx: #f7b633;
$black_25: rgba(0, 0, 0, 0.25);
$white: #ffffff;
$color_havelock_blue_20_approx: rgba(88,147,212, 0.2);
$seashell: #f1f1f1;
$color_havelock_blue_approx: #5893d4;
$red: red;
$color_picton_blue_approx: #38c0fb;
$color_lilac_bush_approx: #a070dc;

//fonts
$font_0: Poppins;

//urls
$url_0: url(https://www.w3schools.com/images/w3schoolscom_gray.gif);

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: $color_gulf_blue_approx;
	overflow-x: hidden;
	padding-top: 20px;
	ul {
		position: absolute;
		width: 180px;
		height: 85px;
		left: -30px;
		top: 90px;
		font-size: 14px;
		color: $white;
		li {
			margin-top: 15px;
			padding-bottom: 5px;
			&:hover {
				color: $seashell;
			}
		}
	}
	li span {
		font-size: 10px;
		display: block;
		margin-left: 26%;
		color: $color_havelock_blue_approx;
	}
}
.logo {
	position: absolute;
	width: 100%;
	height: 37px;
	left: 30px;
	top: 20px;
	background: $url_0;
	background-repeat: no-repeat;
	padding-bottom: 40px;
}
.file-text {
	position: absolute;
	width: 45px;
	height: 32px;
	left: 30px;
	top: 90px;
	font-family: $font_0;
	font-weight: 600;
	font-size: 12px;
	line-height: 21px;
	text-transform: uppercase;
	color: $white_27;
}
.upload-btn {
	position: fixed;
	width: 160px;
	height: 40px;
	left: 20px;
	bottom: 20px;
	background: $color_saffron_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 4px 4px $black_25;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	cursor: pointer;
	font-family: $font_0;
	color: $white;
}
ul {
	list-style-type: none;
}
.active {
	background: $color_havelock_blue_20_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 4px 4px $black_25;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 8px;
}
.red-border {
	border: dotted;
	border-color: $red;
	height: 450px;
	width: 500px;
}
.file-icon-light-color {
	background: $color_picton_blue_approx;
	margin-left: 12%;
	margin-top: 10px;
	margin-right: 10px;
	color: $color_lilac_bush_approx;
	font-size: 10px;
}
@media screen and(max-height: 450px) {
	.sidenav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}